.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.865723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.919434;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs0{font-size:48.000000px;}
.yc{bottom:-9.793900px;}
.y7{bottom:1.640600px;}
.y11{bottom:2.421000px;}
.y14{bottom:2.421100px;}
.y6{bottom:2.475500px;}
.y15{bottom:2.475600px;}
.y4{bottom:3.414300px;}
.y2{bottom:4.503200px;}
.yf{bottom:5.742500px;}
.y21{bottom:34.782500px;}
.y20{bottom:46.217000px;}
.y0{bottom:53.500000px;}
.y25{bottom:65.575600px;}
.y24{bottom:76.901200px;}
.y23{bottom:88.226800px;}
.y22{bottom:99.552400px;}
.y1f{bottom:110.878000px;}
.y1e{bottom:156.180400px;}
.y1d{bottom:181.662900px;}
.y1c{bottom:192.988500px;}
.y1b{bottom:204.314100px;}
.y1a{bottom:215.639700px;}
.y19{bottom:226.965300px;}
.y18{bottom:238.290900px;}
.y17{bottom:249.616500px;}
.y16{bottom:260.942100px;}
.y13{bottom:272.267700px;}
.y12{bottom:283.593400px;}
.y10{bottom:294.919000px;}
.ye{bottom:310.600600px;}
.yd{bottom:344.250700px;}
.yb{bottom:359.932300px;}
.ya{bottom:375.613900px;}
.y9{bottom:396.196000px;}
.y8{bottom:411.877600px;}
.y5{bottom:428.103700px;}
.y3{bottom:444.329800px;}
.y1{bottom:459.575800px;}
.h5{height:10.825600px;}
.h8{height:10.825700px;}
.h4{height:14.746000px;}
.h2{height:16.924000px;}
.h7{height:17.468500px;}
.h9{height:24.275391px;}
.h6{height:25.242188px;}
.h3{height:32.367188px;}
.ha{height:56.128000px;}
.h1{height:423.500000px;}
.h0{height:530.749800px;}
.w4{width:7.361200px;}
.wb{width:9.175300px;}
.w7{width:15.222400px;}
.wd{width:16.431800px;}
.we{width:18.245900px;}
.wc{width:60.575500px;}
.w11{width:68.436700px;}
.w3{width:70.250800px;}
.w13{width:108.952100px;}
.w5{width:125.279200px;}
.wf{width:148.862900px;}
.w10{width:160.957000px;}
.w6{width:167.608800px;}
.wa{width:201.472400px;}
.w9{width:203.891200px;}
.w8{width:315.157500px;}
.w12{width:323.018700px;}
.w2{width:412.515400px;}
.w1{width:414.000000px;}
.w0{width:513.815400px;}
.x4{left:1.556300px;}
.xb{left:3.093500px;}
.x10{left:4.139600px;}
.xe{left:6.631300px;}
.x12{left:45.100200px;}
.x11{left:48.828900px;}
.x0{left:50.000000px;}
.x3{left:57.301800px;}
.xc{left:66.977100px;}
.x2{left:68.969600px;}
.xa{left:81.189400px;}
.x5{left:128.052600px;}
.x6{left:135.913800px;}
.x1{left:153.687400px;}
.xd{left:228.434100px;}
.x9{left:261.693000px;}
.x7{left:267.740100px;}
.xf{left:286.486000px;}
.x8{left:435.848900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.yc{bottom:-13.058533pt;}
.y7{bottom:2.187467pt;}
.y11{bottom:3.228000pt;}
.y14{bottom:3.228133pt;}
.y6{bottom:3.300667pt;}
.y15{bottom:3.300800pt;}
.y4{bottom:4.552400pt;}
.y2{bottom:6.004267pt;}
.yf{bottom:7.656667pt;}
.y21{bottom:46.376667pt;}
.y20{bottom:61.622667pt;}
.y0{bottom:71.333333pt;}
.y25{bottom:87.434133pt;}
.y24{bottom:102.534933pt;}
.y23{bottom:117.635733pt;}
.y22{bottom:132.736533pt;}
.y1f{bottom:147.837333pt;}
.y1e{bottom:208.240533pt;}
.y1d{bottom:242.217200pt;}
.y1c{bottom:257.318000pt;}
.y1b{bottom:272.418800pt;}
.y1a{bottom:287.519600pt;}
.y19{bottom:302.620400pt;}
.y18{bottom:317.721200pt;}
.y17{bottom:332.822000pt;}
.y16{bottom:347.922800pt;}
.y13{bottom:363.023600pt;}
.y12{bottom:378.124533pt;}
.y10{bottom:393.225333pt;}
.ye{bottom:414.134133pt;}
.yd{bottom:459.000933pt;}
.yb{bottom:479.909733pt;}
.ya{bottom:500.818533pt;}
.y9{bottom:528.261333pt;}
.y8{bottom:549.170133pt;}
.y5{bottom:570.804933pt;}
.y3{bottom:592.439733pt;}
.y1{bottom:612.767733pt;}
.h5{height:14.434133pt;}
.h8{height:14.434267pt;}
.h4{height:19.661333pt;}
.h2{height:22.565333pt;}
.h7{height:23.291333pt;}
.h9{height:32.367188pt;}
.h6{height:33.656250pt;}
.h3{height:43.156250pt;}
.ha{height:74.837333pt;}
.h1{height:564.666667pt;}
.h0{height:707.666400pt;}
.w4{width:9.814933pt;}
.wb{width:12.233733pt;}
.w7{width:20.296533pt;}
.wd{width:21.909067pt;}
.we{width:24.327867pt;}
.wc{width:80.767333pt;}
.w11{width:91.248933pt;}
.w3{width:93.667733pt;}
.w13{width:145.269467pt;}
.w5{width:167.038933pt;}
.wf{width:198.483867pt;}
.w10{width:214.609333pt;}
.w6{width:223.478400pt;}
.wa{width:268.629867pt;}
.w9{width:271.854933pt;}
.w8{width:420.210000pt;}
.w12{width:430.691600pt;}
.w2{width:550.020533pt;}
.w1{width:552.000000pt;}
.w0{width:685.087200pt;}
.x4{left:2.075067pt;}
.xb{left:4.124667pt;}
.x10{left:5.519467pt;}
.xe{left:8.841733pt;}
.x12{left:60.133600pt;}
.x11{left:65.105200pt;}
.x0{left:66.666667pt;}
.x3{left:76.402400pt;}
.xc{left:89.302800pt;}
.x2{left:91.959467pt;}
.xa{left:108.252533pt;}
.x5{left:170.736800pt;}
.x6{left:181.218400pt;}
.x1{left:204.916533pt;}
.xd{left:304.578800pt;}
.x9{left:348.924000pt;}
.x7{left:356.986800pt;}
.xf{left:381.981333pt;}
.x8{left:581.131867pt;}
}
